<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29716615825-mn2aejcestqmh2bri91qfbd30kkr4f70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29716615825-mn2aejcestqmh2bri91qfbd30kkr4f70</string>
	<key>API_KEY</key>
	<string>AIzaSyAarr23_LahiVLWmzJ274C4gaEKjd80X-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>29716615825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignment</string>
	<key>PROJECT_ID</key>
	<string>flutter-assignment-1f04a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-assignment-1f04a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29716615825:ios:35089b6b588259d3106530</string>
</dict>
</plist>